/*
Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Common
*/

body {
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  /* font-size: 11px; */
  font-family: 'AR One Sans', sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.btn {
  all: unset;
  color: inherit;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.btn.btn-secondary {
  background-color: #4a4a4a;
  padding: 3px 5px;
  border-radius: 5px;
}

.btn.btn-secondary:hover {
  background-color: yellow;
  color: #000000;
}

.btn.btn-secondary:active {
  background-color: red;
}

/*
Header
*/

header {
  height: 50px;
  text-align: right;
  padding: 5px 5px 0 0;
}

/*
Main
*/

main {
  height: calc(100% - 50px - 80px);
  overflow-y: auto;
  padding-bottom: 100px;
}

.people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
  width: 240px;
  border: 1px dotted black;
  padding: 5px;
}

.person-info {
  position: relative;
}

.person-info img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.person-name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 5px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
}

.person-name i {
  color: red;
}

/*
Footer
*/

footer {
  height: 80px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-flex {
  display: flex;
  gap: 15px;
}

.footer-left,
.footer-right {
  width: 15%;
}

.footer-left {
  padding-left: 10px;
}

/* .footer-tool {
  margin-right: 10px;
} */

.btn.footer-tool i {
  font-size: 22px;
  margin-bottom: 5px;
}

.btn.chevron i {
  font-size: 10px;
}

.button-container.active .footer-tool i {
  color: #4bc800;
}
